/* add global resets for box sizing, margin and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
html{
  height:
}

.main {

}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url("../images/bg-desktop.svg");
  }
header{
  padding-bottom: 6%;
  margin-top: -7%;
}
.img1 {

}
h1 {
font-family: 'Poppins', sans-serif;
color: white;
align-content: center;
font-size: x-large;
width: 55%;
}
p {
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: larger;
}

#left-section {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;

}

#right-section {
  display: flex;
  flex-direction: column;
  width: 47%;
  justify-content: center;
  margin-left: 3%;
  margin-right: 5%;
  padding-top: 12%;
}
input {
   border-radius: 25px;
   color: gray;
   background-color: white;
   height: 9%;
   width: 25%;
}

footer {
  align-self: flex-end;
  width: 20%
  justify-content: space-between;
  padding-top: 42%;
}

ion-icon {
  margin: 5px;
  border: 2px gray;
  border-radius: 50%;
  color: gray;
}

* {outline: 1px solid hotpink;s}
